<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>job application</title>
    <style>
        h1{
            text-align:;
            font-size:20px;
            font-family: Arial, Helvetica, sans-serif;
            color:tomato;
        }
    </style>
</head>
<body style="background-color: cadetblue;">
    <h1>JOB APPLICATION</h1>
    <P>Hello, <br> I am upendra shrestha </P>
</body>
</html>